<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="container">

    <header class="holder header">
        Capstone Travel application
    </header>

    <div class="content">
        <div class="holder trip">
            <label for="from-city">From </label>
            <input type="text" id="from-city"
                   placeholder="Going from ....">
            <label for="to-city">To </label>
            <input type="text" id="to-city" placeholder="Going to ....">
            <label for="trip-date">Traveling on:</label>
            <input type="date" id="trip-date">
            <div class="warn-container">
                <span class="warning" id="required"></span>
            </div>
            <button id="generate" type="submit"> Generate</button>
        </div>
        <!--    <div class="holder info">-->
        <!--        <label for="information">How are you feeling today?</label>-->
        <!--        <textarea class="myInput" id="information"-->
        <!--                  placeholder="City information" rows="9"-->
        <!--                  cols="50"></textarea>-->
        <!--        <button id="generate" type="submit"> Generate</button>-->
        <!--    </div>-->
        <div class="holder entry" id="result-area">
            <div class="title">Most Recent Entry</div>
            <div id="no-res"></div>
            <div id="entryHolder">
                <img id="pixabay"></img>
                <div id="lat"></div>
                <div id="long"></div>
                <div id="countnry"></div>
                <div id="weather-info"></div>
            </div>
        </div>
    </div>
    <footer class="holder footer">
        this is a footer
    </footer>
</div>


<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>